.country-content {
  margin-top: 0.5em;
}

.data-row {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.data-label {
  flex: auto;
  font-weight: bold;
  font-size: 1.5em;
}

.data-value {
  flex: content;
  font-size: 1.7em;
}
